/* Styles inspired by https://brittanychiang.com/ */

:root {    

  --aqua: #00dada;
  --dark-navy: #020c1b;
  --navy:  #141c22;
  --light-navy: #172026;
  --lightest-navy: #233554;
  --navy-shadow: #07121ac7;
  --dark-slate: #273742;
  --slate: #8892b0;
  --light-slate: #b2c6d3;
  --lightest-slate: #cae6f3;
  --white: #ffffff;
  --green: #00dada;
  --green-tint: rgba(100,255,218,0.1);
  --pink: #f57dff;
  --blue: #57cbff;
  /* --navy: #101622;
  --dark-slate: #495670;
  --slate: #8892b0;
  --light-slate: #a8b2d1;
  --lightest-slate: #ccd6f6;
  --white: #FCFCFC;
  --green: #FBF2BD;
  --green-tint: rgba(100,255,218,0.1);
  --pink: #f57dff;
  --blue: #57cbff; */
  --font-sans: "Calibre","Inter","San Francisco","SF Pro Text",-apple-system,system-ui,sans-serif;
  --font-mono: "SF Mono","Fira Code","Fira Mono","Roboto Mono",monospace;
  --fz-xxs: 12px;
  --fz-xs: 13px;
  --fz-sm: 14px;
  --fz-md: 16px;
  --fz-lg: 18px;
  --fz-xl: 20px;
  --fz-xxl: 22px;
  --fz-heading: 32px;
  --border-radius: 4px;
  --nav-height: 100px;
  --nav-scroll-height: 70px;
  --tab-height: 42px;
  --tab-width: 120px;
  --easing: cubic-bezier(0.645,0.045,0.355,1);
  --transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
  --hamburger-width: 30px;
  --ham-before: top 0.1s ease-in 0.25s, opacity 0.1s ease-in;
  --ham-before-active: top 0.1s ease-out, opacity 0.1s ease-out 0.12s;
  --ham-after: bottom 0.1s ease-in 0.25s, transform 0.22s cubic-bezier(0.55,0.055,0.675,0.19);
  --ham-after-active: bottom 0.1s ease-out, transform 0.22s cubic-bezier(0.215,0.61,0.355,1) 0.12s;
  
}

html {
  box-sizing: border-box;
  width: 100%;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}


::selection {
  background-color: var(--lightest-navy);
  color: var(--lightest-slate);
}

 /* Provide basic, default focus styles.*/
 :focus {
  outline: 2px dashed var(--green);
  outline-offset: 3px;
}
/*
  Remove default focus styles for mouse users ONLY if
  :focus-visible is supported on this platform.
*/
:focus:not(:focus-visible) {
  outline: none;
  outline-offset: 0px;
}
/*
  Optionally: If :focus-visible is supported on this
  platform, provide enhanced focus styles for keyboard
  focus.
*/
:focus-visible {
  outline: 2px dashed var(--green);
  outline-offset: 3px;
}

 /* Scrollbar Styles */
 html {
  scrollbar-width: thin;
  scrollbar-color: var(--dark-slate) var(--navy);
}
::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  background: var(--navy);
}
::-webkit-scrollbar-thumb {
  background-color: var(--dark-slate);
  border: 3px solid var(--navy);
  border-radius: 10px;
}

main {
  margin: 0;
  width: 100%;
  min-height: 100%;
  overflow-x: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background-color: var(--navy);
  color: var(--slate);
  font-family: var(--font-sans);
  font-size: var(--fz-xl);
  line-height: 1.3;

  @media (max-width: 480px) {
    font-size: var(--fz-lg);
  }

}

.blur {
  overflow: hidden;

}

.blur header {
  background-color: transparent;
}

.blur main > * {
  filter: blur(5px) brightness(0.7);
      transition: var(--transition);
      pointer-events: none;
      user-select: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 10px 0;
    font-weight: 600;
    color: var(--lightest-slate);
    line-height: 1.1;
  }
  .big-heading {
    margin: 0;
    font-size: clamp(40px, 8vw, 80px);
  }
  .medium-heading {
    margin: 0;
    font-size: clamp(40px, 8vw, 60px);
  }